{{#paper-button iconButton=true raised=true primary=hasPositiveScore warn=hasNegativeScore}}{{score}}{{/paper-button}}
{{#paper-button iconButton=true onClick=(action "upvote") primary=isUpvote}}{{paper-icon "thumb-up"}}{{/paper-button}}
{{#paper-button iconButton=true onClick=(action "downvote") warn=isDownvote}}{{paper-icon "thumb-down"}}{{/paper-button}}
<span>{{#link-to "post" post.id}}<img src="{{post.icon}}">{{/link-to}}</span>
<span>{{#link-to "post" post.id}}{{post.title}}{{/link-to}}</span>
<small>{{post.user.username}}</small>
<small>{{moment-from-now post.created interval=60000}}</small>
